@charset "UTF-8";
.class-0 {text-indent: 1em}
.class-1 {text-align: left; text-indent: 1em}
.class-2 {text-align: center}
.class-3 {text-align: left}
.class-4 {font-style: italic; text-align: center}
.class_s1B {font-size: 1.5em; font-style: italic; font-weight: bold; margin-bottom: 2em; margin-top: 0; text-align: center; text-decoration: underline}
.class_s1B1 {font-style: italic; margin-bottom: 0; margin-top: 0; text-align: left; text-indent: 0}
.class_s1D-0 {font-style: italic; margin-bottom: 0.84em; margin-left: 9.375%; margin-top: 0}
.class_s1D-1 {margin-bottom: 0.84em; margin-left: 9.375%; margin-top: 0; text-align: left}
.class_s1E2-0 {font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 0.85em; margin-top: 0; text-align: left; text-indent: 0}
.class_s1E2-1 {font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 0.85em; margin-top: 0; text-align: left}
.class_s1N {margin-bottom: 1.14em; text-align: center}
.class_s3H-0 {margin-bottom: 0; margin-top: 0; text-align: left; text-indent: 0}
.class_s3H-1 {margin-bottom: 0; margin-top: 0; text-indent: 0}
.class_s3H-2 {margin-bottom: 0; margin-top: 0; text-align: left}
.class_s3K-0 {margin-bottom: 0; margin-top: 0; text-align: left}
.class_s3K-1 {margin-bottom: 0; margin-top: 0}
.class_s3K-2 {margin-bottom: 0; margin-top: 0; text-align: left; text-indent: 1em}
.class_s3Y-0 {background-image: url(image_rsrc5AZ.jpg); background-position: 50% 50%; background-repeat: no-repeat; border-style: none; margin-bottom: 1em; margin-top: 1em; min-height: 1em; text-align: center; text-indent: 0}
.class_s3Y-1 {background-image: url(image_rsrc5AZ.jpg); background-position: 50% 50%; background-repeat: no-repeat; border-style: none; margin-bottom: 1em; margin-top: 1em; min-height: 1em; text-align: center}
.class_s4TM {background-image: url(image_rsrc5B0.jpg); background-position: 50% 50%; background-repeat: no-repeat; border-style: none; margin-bottom: 1em; margin-top: 1em; min-height: 1em; text-align: center; text-indent: 0}
.class_s4UJ {font-style: italic; margin-bottom: 0; margin-top: 0.6em; text-align: center; text-indent: 0}
.class_s5AE {font-size: 0.85em}
.class_s5AS-0 {margin-top: 1.2em; page-break-before: avoid; text-align: center}
.class_s5AS-1 {max-width: 100%; width: 100%}
.class_s10 {font-size: 1.75em; font-style: italic; font-weight: bold; margin-bottom: 0; margin-top: 0}
.class_s11T-0 {font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 0.7225em; margin-bottom: 1.17647em; margin-top: 0; text-align: left}
.class_s11T-1 {font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 0.7225em; margin-bottom: 1.17647em; margin-top: 0; text-align: left; text-indent: 0}
.class_s11X-0 {font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 0.7225em; margin-bottom: 1.17647em; margin-top: 1.17647em; text-align: left}
.class_s11X-1 {font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 0.7225em; margin-bottom: 1.17647em; margin-top: 1.17647em; text-align: left; text-indent: 0}
.class_s14-0 {margin-top: 8em}
.class_s14-1 {width: 7.755%}
.class_s23 {margin-bottom: 0.84em; margin-left: 6.25%; margin-top: 0}
.class_s26 {margin-bottom: 0.84em; margin-left: 12.5%; margin-top: 0}
.class_s54A {margin-bottom: 1.14em; margin-top: 0}
.class_s54F {width: 100%}
.class_s54G {font-weight: 800; margin-bottom: 1.14em}
.class_s54U-0 {margin-bottom: 1.14em}
.class_s54U-1 {width: 6.857%}
.class_s54W {margin-bottom: 1.14em; margin-top: 0}
.class_s59M {font-style: normal}
.class_s548-0 {margin-bottom: 1.14em}
.class_s548-1 {width: 56.818%}
.class_s594 {font-style: italic}
.class_s599 {font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 0.85em}
.class_sCM-0 {font-style: italic; margin-bottom: 0; margin-top: 0; text-align: left}
.class_sCM-1 {font-style: italic; margin-bottom: 0; margin-top: 0}
.class_sCM-2 {font-style: italic; margin-bottom: 0; margin-top: 0; text-align: left; text-indent: 1em}
.class_sF {font-style: normal; font-weight: bold; margin-bottom: 1.14em; margin-top: 0}
.class_sH {font-weight: bold; margin-bottom: 0.5em; margin-top: 0}
.class_sK {margin-bottom: 0; margin-top: 0}
.class_sY-0 {font-size: 2.5em; font-weight: bold; margin-bottom: 1.14em; margin-top: 0.5em; text-align: center}
.class_sY-1 {font-size: 2.5em; font-weight: bold; margin-bottom: 1.14em; margin-top: 0.5em}
.heading_s2KD-0 {font-size: 1.5em; font-style: italic; font-weight: normal; margin-bottom: 1.3em; margin-top: 1em; text-align: center; text-indent: 0}
.heading_s2KD-1 {font-size: 1.5em; font-style: italic; font-weight: normal; margin-bottom: 1.3em; margin-top: 1em; text-align: center}
.heading_s3D-0 {font-size: 1.5em; font-style: italic; font-weight: normal; margin-bottom: 0; margin-top: 1em; text-align: center; text-indent: 0}
.heading_s3D-1 {font-size: 1.5em; font-style: italic; font-weight: normal; margin-bottom: 0; margin-top: 1em; text-align: center}
.heading_s3F-0 {font-style: italic; font-weight: normal; margin-bottom: 0.75em; margin-top: 2em; text-indent: 0}
.heading_s3F-1 {font-style: italic; font-weight: normal; margin-bottom: 0.75em; margin-top: 2em}
.heading_s11R-0 {font-style: italic; font-weight: normal; margin-bottom: 1em; margin-top: 1.5em; text-indent: 0}
.heading_s11R-1 {font-style: italic; font-weight: normal; margin-bottom: 1em; margin-top: 1.5em}
.heading_s89 {font-size: 1.5em; font-style: italic; margin-bottom: 1.3em; margin-top: 1em; text-align: center}
.heading_s259 {font-style: italic; font-weight: normal; margin-bottom: 0.75em; margin-top: 2em; text-indent: 0}